.gitignore
.claude
.github
docs
examples   
.env
.env.*
CLAUDE.md
CONTRIBUTING.md
Maekfile
env
pruebas.py
__pycache__
logs
CLAUDE.md.save
test_generated_pipeline.py
test_clean.csv
*.egg-info/
build*
dist/
databroom.egg-info/
test_env/
test*
generated*.py
README_PYPI.md
venv/
*.swp