{% macro header(date) -%}
# =========================================
# Janitor Bot - Automated Data Cleaning and Preparation
# Date: {{ date }}
# =========================================
{%- endmacro %}

{% macro footer() -%}
# =========================================
# End of Janitor Bot script
# =========================================
{%- endmacro %}
